.background {
    height: 100%;
    width: 100%;
    background: url("../../assets/Truco.avif");
    background-size: cover;
    filter: grayscale(95%);
    opacity: 0.4;
    position: absolute;
    top: 20;
    left: 0;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
}