<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Marcador Truco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-item>
   <ion-col><ion-button> 1 </ion-button></ion-col>
   <ion-col><ion-button> 3 </ion-button></ion-col>
   <ion-col><ion-button> 6 </ion-button></ion-col>
   <ion-col><ion-button> 9 </ion-button></ion-col>
   <ion-col><ion-button> 12 </ion-button></ion-col>
 </ion-item>
  <ion-item>
    <ion-title>time 1</ion-title>
    <ion-button>+</ion-button>
    <ion-title>Time 2</ion-title>
    <ion-button>+</ion-button>
  </ion-item>
</ion-content>
